/* override level 1 */
.cm-line.HyperMD-list-line-1[style] {
	text-indent: 0px !important;
	padding-inline-start: 2.5em !important;
}

.cm-line.HyperMD-list-line-1 .cm-formatting-list {
	position: absolute;
	left: 0.9em;
}

/* override level 2 */
.cm-hmd-list-indent-1 .cm-indent {
	display: none !important;
}

.cm-line.HyperMD-list-line-2[style] {
	text-indent: 0px !important;
	padding-inline-start: 5em !important;
}

.cm-line.HyperMD-list-line-2 .cm-formatting-list {
	position: absolute;
	left: 4em;
}

/* make additional levels a little less bad */
.cm-hmd-list-indent .cm-indent {
	tab-size: 3em;
}

.cm-indent::before {
	border-right: none !important;
}